.imageSlider {
  // padding-bottom: 82px;
  // background-color: #f4f4f5;
  margin-top: -112px;
  position: relative;
  &:hover {
    .slick-arrow {
      opacity: 1 !important;
    }
  }

  .slick-arrow {
    opacity: 0;
    width: 50px;
    height: 50px;
    color: gray;
    position: absolute;
    background: white;
    z-index: 2;
    transition: all 0.3s ease-out;

    svg {
      font-size: 50px;
    }

    &.slick-next {
      left: auto;
      right: 0;
    }
    &.slick-prev {
      left: 0;
      right: auto;
    }
    &:hover {
      background-color: #bd8448;
      color: white;
    }
  }

  .imageContainer {
    position: relative;
    .slideImage {
      width: 100%;
      height: auto;
      object-fit: contain;
      // ask mostafa
      min-height: 0% !important;
    }
    .info {
      z-index: 5;
      color: #323232;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 30%;
      left: 80px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      .header {
        font-size: 36px;
        line-height: 40px;
        margin: 0;
        font-weight: 600;
        padding: 0;
        animation: left-right1 1.6s ease-in backwards;

        // transform: translate(-500px);
        // opacity: 0;
        // transition-delay: 0.4s;
      }

      .desc {
        font-size: 14px;
        padding: 0;
        margin-top: 20px;
        display: inline-block;
        max-width: 515px;
        // transform: translate(-500px);
        // opacity: 0;
        // //   transition-delay: 0.6s;
      }
      .btn {
        border: 1px solid #201f1f;
        background-color: rgba(0, 0, 0, 0);
        color: #201f1f;
        padding: 16px 40px;
        width: fit-content;
        // transform: translate(-500px);
        // opacity: 0;
        margin-top: 15px;
        &:hover {
          color: white;
          background-color: #bd8448;
          border-color: #bd8448;
          cursor: pointer;
        }
      }
    }
  }
}

.slick-slide {
  &.slick-active {
    .info {
      opacity: 1;
      .header {
        animation: bounceInLeft 1.6s ease-in backwards;

        // transition: all 1s ease-in-out;
        // transition-delay: 0.4s;
        // transform: translate(0);
        // opacity: 1;
      }
      .desc {
        animation: bounceInLeft 2.2s ease-in backwards;

        // transition: all 1s ease-in-out;

        // opacity: 1;
        // transition-delay: 0.6s;
        // transform: translate(0);
      }
      .btn {
        animation: bounceInLeft 2.8s ease-in backwards;

        // transition: all 1s ease-in-out;

        // transition-delay: 0.8s;
        // opacity: 1;
        // transform: translate(0);
        &:hover {
          transition: all 0.2s ease-in-out;
          transition-delay: 0s;
        }
      }
    }
  }
}

.slick-dots {
  bottom: 6vw;
  li {
    button {
      &::before {
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
    }
    &.slick-active {
      button {
        &::before {
          color: transparent;
          border: 3px solid #bd8448;
          border-radius: 50%;
        }
      }
    }
  }
}

.slick-next::before,
.slick-prev::before {
  content: none;
}

// .slick-next,
// .slick-prev {
//   width: 50px;
//   height: 50px;
//   background-color: white;
//   .slick-prev:hover,
//   .slick-prev:focus,
//   .slick-next:hover,
//   .slick-next:focus {
//     background-color: #bd8448;
//     color: white;
//   }
//   .slick-next:before,
//   .slick-prev::before {
//     display: none;
//   }
//   .slick-next {
//     right: 10px;
//   }
//   .slick-prev {
//     left: 30px;
//   }
// }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 999px) {
  .imageSlider {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .imageSlider {
    .imageContainer {
      .info {
        scale: 0.8;
        max-width: 499px;
        flex-direction: column;
        position: absolute;
        top: 23%;
        left: -22px;
        .btn {
          scale: 0.8;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .slick-dots {
    scale: 0.7;
  }
  .imageSlider {
    .slick-arrow {
      height: 35px;
      width: 35px;
      svg {
        font-size: 35px;
      }
    }
    .imageContainer {
      .info {
        scale: 0.5;
        top: -9%;
        left: -74px;
      }
    }
  }
}
