$--vela-color-primary: #bd8448;
$--vela-color-secondary: #bd8448;
$--vela-text-color-primary: #606060;
$--vela-font-size: 14px;
$--vela-border-color: #e1e1e1;
$--vela-body-bg: #ffffff;
$--vela-text-color-primary: #606060;
$--vela-text-color-secondary: #201f1f;
$--vela-text-color-banner: #c3c3c3;
$--vela-border-main: 1px solid var(--vela-border-color);
$--vela-gutter-width: 20px;
$--vela-font-family: Poppins;
$--vela-font-family-secondary: Poppins;
$--vela-font-family-tertiary: Rubik;
$--vela-font-icon: "FontAwesome";
$--vela-topbar-bgcolor: #f5f5f5;
$--vela-topbar-textcolor: #666666;
$--vela-header-bgcolor: #ffffff;
$--vela-header-textcolor: #201f1f;
$--vela-footer-bgcolor: #232323;
$--vela-footer-titlecolor: #ffffff;
$--vela-footer-textcolor: #6c6c6c;
$--vela-breadcrumb-bgcolor: #f5f5f5;
$--vela-breadcrumb-linkcolor: #c3c3c3;
$--vela-breadcrumb-textcolor: #201f1f;
$--vela-breadcrumb-headingcolor: #201f1f;
$--vela-font-size: 14px;
$--vela-heading-color: var(--vela-text-color-secondary);
$--newslettermodal: url(//cdn.shopify.com/s/files/1/1573/5553/t/43/assets/newslettermodal.png?v=139240221732415983441617237744);
$--icon_loading: url(//cdn.shopify.com/s/files/1/1573/5553/t/43/assets/loading.gif?v=47373580461733618591617237743);
$--icon_close: url(//cdn.shopify.com/s/files/1/1573/5553/t/43/assets/velaClose.png?v=121253005341505273761617237748);
$--button_one_txtcolor: #201f1f;
$--button_one_bgcolor: rgba(0, 0, 0, 0);
$--button_one_bordercolor: #201f1f;
$--button_one_bgcolor_hover: #bd8448;
$--button_one_bordercolor_hover: #bd8448;
$--button_one_txtcolor_hover: #ffffff;
$--btnpro_txtcolor: #969696;
$--btnpro_bgcolor: #ffffff;
$--btnpro_bordercolor: #ffffff;
$--btnpro_bgcolor_hover: #bd8448;
$--btnpro_bordercolor_hover: #bd8448;
$--btnpro_txtcolor_hover: #ffffff;
$--addtocart_txtcolor: #ffffff;
$--addtocart_bgcolor: #111111;
$--addtocart_bordercolor: #111111;
$--addtocart_txtcolor_hover: #ffffff;
$--addtocart_bgcolor_hover: #bd8448;
$--addtocart_bordercolor_hover: #bd8448;
$--velamenu-bgcolor: #ffffff;
$--velamenu-linkcolor: #a3a3a3;
$--velamenu-linkcolor-hover: #323232;
$--velamenu-fontsize: 14px;
$--velasubmenu-bgcolor: #ffffff;
$--velasubmenu-linkcolor: #a3a3a3;
$--velasubmenu-linkcolor-hover: #323232;
$--velasubmenu-fontsize: 12px;
